.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.text-right {
  text-align: right;
}

header {
  background-color: rgb(86, 43, 129);
  height: 3rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  color: white;
}

img {
  width: 100%;
  height: 25rem;
}

#title,
#photo-url {
  padding: 0.5rem 0;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
